<div class="container">
  <mat-horizontal-stepper linear #stepper class="container background-muted">
    <mat-step [stepControl]="formBusinessRegister" label="Cadastre seu negócio">
      <form
        [formGroup]="formBusinessRegister"
        class="form-container background"
      >
        <mat-form-field appearance="outline">
          <mat-label>Nome</mat-label>
          <input
            matInput
            formControlName="nomeNegocio"
            placeholder="Razão Social"
            required
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Rua</mat-label>
          <input
            matInput
            formControlName="ruaNegocio"
            placeholder="Rua do Endereço"
            required
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Número</mat-label>
          <input
            matInput
            formControlName="numeroNegocio"
            placeholder="Número do Endereço"
            required
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Bairro</mat-label>
          <input
            matInput
            formControlName="bairroNegocio"
            placeholder="Bairro do Endereço"
            required
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Cidade</mat-label>
          <input
            matInput
            formControlName="cidadeNegocio"
            placeholder="Cidade do Endereço"
            required
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Estado</mat-label>
          <input
            matInput
            formControlName="estadoNegocio"
            placeholder="Estado do Endereço"
            required
          />
        </mat-form-field>
      </form>

      <div>
        <button mat-button matStepperNext (click)="setBusiness()">
          Próximo
        </button>
      </div>
    </mat-step>
    <mat-step [stepControl]="formUserRegister" label="Cadastre seu usuário">
      <form [formGroup]="formUserRegister" class="form-container background">
        <mat-form-field appearance="outline">
          <mat-label>Usuário</mat-label>
          <input
            matInput
            formControlName="usuario"
            placeholder="ID do usuário"
            required
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Senha</mat-label>
          <input
            matInput
            type="password"
            formControlName="senha"
            placeholder="Senha do usuário"
            required
          />
        </mat-form-field>
      </form>

      <button mat-button matStepperPrevious>Anterior</button>
      <button mat-button matStepperNext (click)="setUser()">Próximo</button>
    </mat-step>
    <mat-step label="Finalize o cadastro">
      <div class="result-container">
        <span *ngIf="negocio != null">
          <div class="nome">Nome do negócio: {{negocio.nome}}</div>
          <div class="cidade">Cidade sede do Negócio: {{negocio.cidade}}</div>
          <div class="estado">Estado sede do Negócio: {{negocio.estado}}</div>
        </span>
        <span *ngIf="usuario != null">
          <div class="usuario">
            Identificador do usuário: {{usuario.usuarioId}}
          </div>
        </span>
      </div>
      <div>
        <button mat-button class="reset-button" (click)="stepper.reset()">
          Resetar
        </button>
        <button mat-button class="finish-button" (click)="finishRegistration()">
          Finalizar
        </button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
