@import "../../../../../styles/_variaveis.less";

.container {
  display: grid;
  align-items: center;
  justify-items: center;

  height: 100vh;
}
.form-container {
  width: 300px;
  padding: 10px;
  height: 420px;
  border-radius: @border-radius;
}
mat-form-field{
   width: 250px;
   margin-bottom: 15px;
   margin-left: 25px;
}
button{
}