@import "../../../../../styles/_variaveis.less";

.container {
  display: grid;
  align-items: center;
  justify-items: center;

  height: 100%;
}
.form-container {
  min-width: 300px;
  border-radius: @border-radius;
}
mat-form-field{
    margin: 20px;
}
button{
    margin-top: 20px;
}