<div class="container background-muted">
  <div class="content-container">
    <mat-grid-list cols="4" rowHeight="4rem">
      <mat-grid-tile [colspan]="4" [rowspan]="1">
        <rp-top-bar (openDialog)="openDialog()"></rp-top-bar>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="7">
        <rp-lista-contas-pagar></rp-lista-contas-pagar>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="7">
        <rp-lista-contas-receber></rp-lista-contas-receber>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="4" [rowspan]="2">
        <rp-contas-balance></rp-contas-balance>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1"> </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="1"> </mat-grid-tile>
    </mat-grid-list>
    <button mat-button class="button-editar">Editar</button>
    <button mat-button class="button-excluir">Excluir</button>
  </div>
</div>
