@import "_variaveis.less";

/* You can add global styles to this file, and also import other style files */

html,
body {
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.background {
  background-color: @background;
}

.background-muted {
  background-color: @background-muted;
}

.title {
  font-size: 18px;
}
.mat-grid-tile .mat-figure {
  justify-content: flex-start !important ;
  align-items: flex-start !important;
  display: unset !important;
}
.mat-card {
  padding: 5px !important;
}
.mat-card > .mat-card-actions:last-child {
  margin-bottom: 0px !important;
  margin-left: 10px !important;
}
.mat-list-base .mat-subheader {
  font-size: 20px !important;
}

.advanced-pie-legend .legend-items-container .legend-items {
  overflow: unset !important;
}
.total-value{
  margin-bottom: 10px;
}
.item-value{
  margin-bottom: 10px;
}
.advanced-pie-legend {
  width: 100%;
  height: 100%;
  margin-top: 50px;
  margin-left: 30px;
}
