@import "_variaveis.less";

/* You can add global styles to this file, and also import other style files */

html,
body {
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.background {
  background-color: @background;
}

.background-muted {
  background-color: @background-muted;
}

.title {
  font-size: 18px;
}
.mat-grid-tile .mat-figure {
  justify-content: flex-start !important ;
  align-items: flex-start !important;
  display: unset !important;
}
.mat-card{
  padding: 5px !important;
}
.mat-card>.mat-card-actions:last-child{
  margin-bottom: 0px !important;
  margin-left: 10px !important;
}