<div class="container" [class.example-is-mobile]="mobileQuery.matches">

  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56" opened>
      <mat-nav-list>
        <button mat-icon-button class="user-button">
        </button>
        <h2>{{userRole}}</h2>
        <button mat-button *ngFor="let button of buttons" [routerLink]="[button.routerLink]" class="buttom-nav-style"
          (click)="clickEvent(button)" [ngClass]="
            selectedButton == button
              ? 'buttom-nav-style'
              : 'buttom-nav-style-unselected'
          ">
          {{button.name}}
        </button>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>