<div class="container">
    <mat-toolbar color="primary" class="toolbar">
        <button class="sidebar-toogle" mat-mini-fab color="primary" (click)="sidebarVisible = !sidebarVisible">
            <mat-icon>menu</mat-icon>
        </button>
        <span class="example-spacer"></span> Menu
    </mat-toolbar>

    <div class="sidebar-overlay" [class.visible]="sidebarVisible">


        <rp-sidebar *ngIf="sidebarVisible"></rp-sidebar>
    </div>

    <div class="content background-muted">
        <router-outlet></router-outlet>
    </div>
</div>