@import "../../../../../styles/_variaveis.less";

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

h2{
    margin-left: 13px;
}

.example-is-mobile .toolbar {
  position: fixed;
  z-index: 2;
}

.sidenav-container {
  flex: 1;
}

.example-is-mobile .sidenav-container {
  flex: 1 0 auto;
}
.mat-drawer {
  max-width: min-content;
  background-color: @primary;
  color: white;
}
.icon-nav-style {
  margin-right: 15px;
}
.buttom-nav-style {
  width: 100%;
  text-align: left;
  margin-top: 8px;
}
