<mat-grid-list cols="4" rowHeight="4rem">
  <mat-grid-tile mat-dialog-title [colspan]="4" [rowspan]="1">
    <div class="gray-bar-large">
      <h2>Registro de Contas a Pagar</h2>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="4" [rowspan]="8">
    <mat-dialog-content>
      <form [formGroup]="formRegisterBillsToPay">
        <mat-form-field appearance="outline">
          <mat-label>Conta fixa?</mat-label>
          <mat-select>
            <mat-option
              *ngFor="let option of options"
              [value]="option"
              formControlName="ehFixa"
            >
              {{ option }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Descrição</mat-label>
          <input
            matInput
            formControlName="descricao"
            placeholder="Descrição da Conta"
            required
          />
        </mat-form-field>
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Data de Pagamento</mat-label>
          <input
            matInput
            [matDatepicker]="pickPayementDate"
            formControlName="dataPagamento"
            placeholder="Data de Pagamento"
            required
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="pickPayementDate"
          ></mat-datepicker-toggle>
          <mat-datepicker touchUi #pickPayementDate></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Valor</mat-label>
          <input
            matInput
            currencyMask
            class="example-right-align"
            formControlName="valor"
            placeholder="0"
            [options]="{ prefix: '', thousands: '', decimal: '.' }"
            required
          />
          <span matPrefix>R$&nbsp;</span>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Tipo de serviço</mat-label>
          <mat-select>
            <mat-option
              *ngFor="let service of services"
              [value]="service"
              formControlName="tipoServico"
            >
              {{ service }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </mat-dialog-content>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="4" [rowspan]="1">
    <mat-dialog-actions align="end">
      <button mat-button (click)="addBillToPay()" [mat-dialog-close]="true">
        Registrar
      </button>
    </mat-dialog-actions>
  </mat-grid-tile>
</mat-grid-list>
