<mat-grid-list cols="4" rowHeight="4rem">
  <mat-grid-tile mat-dialog-title [colspan]="4" [rowspan]="1">
    <div class="gray-bar-large">
      <h2>Registro de Contas a Receber</h2>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="4" [rowspan]="8">
    <mat-dialog-content>
      <form [formGroup]="formRegisterBillsToReceive">
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Valor</mat-label>
          <input
            matInput
            currencyMask
            class="example-right-align"
            formControlName="valor"
            placeholder="0"
            [options]="{ prefix: '', thousands: '', decimal: '.' }"
            required
          />
          <span matPrefix>R$&nbsp;</span>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Descrição</mat-label>
          <input
            matInput
            formControlName="descricao"
            placeholder="Descrição da Conta"
            required
          />
        </mat-form-field>
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Data de Recebimento</mat-label>
          <input
            matInput
            [matDatepicker]="pickReceiveDate"
            formControlName="dataRecebimento"
            placeholder="Data de Recebimento"
            required
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="pickReceiveDate"
          ></mat-datepicker-toggle>
          <mat-datepicker touchUi #pickReceiveDate></mat-datepicker>
        </mat-form-field>
      </form>
    </mat-dialog-content>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="4" [rowspan]="1">
    <mat-dialog-actions align="end">
      <button
        mat-button
        (click)="addBillToReceive()"
        type="submit"
        [disabled]="!formRegisterBillsToReceive.valid"
      >
        Registrar
      </button>
    </mat-dialog-actions>
  </mat-grid-tile>
</mat-grid-list>
