<div class="container">
  <div class="content-container">
    <mat-grid-list cols="4" rowHeight="4rem">
      <mat-grid-tile [colspan]="4" [rowspan]="1">
        <p>dashboard.page works!</p>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="8">
        <p>Dashboard really works, wtf</p>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="8">
        <p>I'm serious, the dashboard page is working on</p>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="4" [rowspan]="2">
        <p>Man, i believe you, the dashboard is working</p>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1"> </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="1"> </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
