<div class="container">
  <div class="content-container">
    <mat-grid-list cols="3" rowHeight="68px" [gutterSize]="'8.7px'">
      <mat-grid-tile [colspan]="1" [rowspan]="3">
        <rp-total-orders></rp-total-orders>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="3">
        <rp-active-orders></rp-active-orders>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="3">
        <rp-concluded-orders></rp-concluded-orders>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="7">
        <rp-informative-graph></rp-informative-graph>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="7">
        <rp-gains></rp-gains>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
