<mat-grid-list cols="3" rowHeight="4rem">
    <mat-grid-tile class="gray-background" [colspan]="3" [rowspan]="1">
        <h2>Mesa escolhida: {{desk}}</h2>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="1">
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Pesquisar no Cardápio</mat-label>
            <input [(ngModel)]="selectedItem" type="text" placeholder="Pick one" aria-label="Number" matInput
                [formControl]="createOrderControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let item of filteredItems | async" [value]="item">
                    {{item}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="9">
        <mat-selection-list #item [multiple]="false">
            <mat-list-option *ngFor="let item of selectedItems" [value]="item">
                <rp-order-listitem [item]="item"></rp-order-listitem>
            </mat-list-option>
        </mat-selection-list>
    </mat-grid-tile>
</mat-grid-list>
<button mat-button class="button-add" (click)="selectItem()">Adicionar Item</button>
<button mat-button class="button-cancel" (click)="cancelAttendance()">Cancelar</button>
<button mat-button class="button-finish" (click)="createOrder()">Finalizar</button>