<mat-grid-list cols="4" rowHeight="4rem">
  <mat-grid-tile mat-dialog-title [colspan]="4" [rowspan]="1">
    <div class="gray-bar-large">
      <h2>Registro de Clientes</h2>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="4" [rowspan]="8">
    <mat-dialog-content>
      <form
        [formGroup]="formRegisterClients"
      >
        <mat-form-field appearance="outline">
          <mat-label>Telefone</mat-label>
          <input
            matInput
            formControlName="telefone"
            placeholder="Telefone"
            required
          />
        </mat-form-field>
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Nome</mat-label>
          <input
            matInput
            formControlName="nome"
            placeholder="Nome"
            required
          />
        </mat-form-field>
        <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Número de endereço</mat-label>
            <input
              matInput
              formControlName="numero"
              placeholder="Número"
              required
            />
          </mat-form-field>
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Rua de enredeço</mat-label>
            <input
              matInput
              formControlName="rua"
              placeholder="Rua"
              required
            />
          </mat-form-field>
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Bairro de endereço</mat-label>
            <input
              matInput
              formControlName="bairro"
              placeholder="Bairro"
              required
            />
          </mat-form-field>
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Cidade de enredeço</mat-label>
            <input
              matInput
              formControlName="cidade"
              placeholder="Cidade"
              required
            />
          </mat-form-field>
      </form>
    </mat-dialog-content>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="4" [rowspan]="1">
    <mat-dialog-actions align="end">
      <button mat-button (click)="addClient()" [mat-dialog-close]="true">
        Registrar
      </button>
    </mat-dialog-actions>
  </mat-grid-tile>
</mat-grid-list>
