<mat-grid-list cols="3" rowHeight="3.5rem">
  <mat-grid-tile [colspan]="3" [rowspan]="1">
    <form [formGroup]="cardapioForm" class="container">
      <mat-form-field appearance="standard">
        <mat-label>ID</mat-label>
        <input
          matInput
          placeholder="ID"
          formControlName="id"
          value='{{ item ? item.idItem :  "" }}'
        />
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Descrição</mat-label>
        <input
          matInput
          placeholder="Descrição"
          formControlName="descricao"
          value='{{ item ? item.descricao : "" }}'
        />
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>Preço</mat-label>
        <input
          type="number"
          matInput
          placeholder="Preço"
          formControlName="preco"
          value='{{ item ? item.preco : "" }}'
        />
      </mat-form-field>
    </form>
  </mat-grid-tile>
</mat-grid-list>
