<mat-toolbar>
    <mat-toolbar-row>
        <span>Toolbar Home</span>
        <span class="example-spacer"></span>
        <button mat-raised-button (click)="listarPizzaria()"><mat-icon></mat-icon>Listar Pizzaria</button>
        <button mat-raised-button (click)="addPizzaria()"><mat-icon></mat-icon>Adicionar Pizzaria</button>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Exemplo user verified icon">verified user</mat-icon>
    </mat-toolbar-row>
</mat-toolbar>
<app-pagina-inicial></app-pagina-inicial>