@import "../../../../../styles/_variaveis.less";

.container {
    display: grid;
    align-items: center;
    justify-items: center;
  
    
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
  
    height: 95%;
    grid-template-rows: 1fr auto;
  }
  .container-cardapio{
    min-width: 60%;
    max-width: 80%;
    border-radius: @border-radius;
    height: 85%;
    padding: 2em;

    grid-row: 1;
  }
  .container-item{
    min-width: 60%;
    max-width: 80%;
    border-radius: @border-radius;
    height: 55%;
    padding: 2em;
    
    grid-row: 2;
  }