@import "../../../../../styles/_variaveis.less";

.mat-list-icon {
  background-color: @primary;
}
mat-selection-list {
  height: 80%;
  overflow: auto;
}
.item-container {
  border-style: solid;
  height: 18%;
  border-radius: @border-radius;
}
