<mat-selection-list #item [multiple]="false">
  <div mat-subheader class="title">Cardápio</div>
  <mat-list-option *ngFor="let item of itens" [value]="item">
    <mat-icon mat-list-icon></mat-icon>
    <div mat-line>{{ item.descricao }}</div>
    <div mat-line>R$ {{ item.preco }}</div>
  </mat-list-option>
</mat-selection-list>

<div class="item-container">
  <rp-item-form
    [item]="item.selectedOptions.selected[0]?.value"
    (adicionar)="adicionarItem($event)"
    (alterar)="alterarItem($event)"
    (remover)="removerItem($event)"
  >
  </rp-item-form>
</div>
