@import "../../../../../styles/_variaveis.less";

.mat-list-icon {
  background-color: @primary;
}

mat-selection-list {
  height  : 80%;
  overflow: auto;
}

.item-container {
  padding: 1em;
  height : 18%;

}

.mat-subheader {
  font-weight: 500;

  color: #848684;
}

.mat-line {
  line-height: 28px;

  color: #848684;
}