<mat-selection-list #item [multiple]="false">
  <div mat-subheader>Cardápio</div>
  <mat-list-option *ngFor="let item of itens" [value]="item">
    <mat-icon mat-list-icon></mat-icon>
    <div mat-line>{{ item.descricao }}</div>
    <div mat-line>R$ {{ item.preco }}</div>
  </mat-list-option>
</mat-selection-list>

<div class="item-container">
  <mat-grid-list cols="3" rowHeight="4rem">
    <mat-grid-tile [colspan]="3" [rowspan]="1">
      <form [formGroup]="cardapioForm" class="container">
        <mat-form-field>
          <mat-label>ID</mat-label>
          <input
            matInput
            placeholder="ID"
            formControlName="id"
            value="{{ item.selectedOptions.selected[0]?.value.idItem }}"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Descrição</mat-label>
          <input
            matInput
            placeholder="Descrição"
            formControlName="descricao"
            value="{{ item.selectedOptions.selected[0]?.value.descricao }}"
          />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Preço</mat-label>
          <input
            type="number"
            matInput
            placeholder="Preço"
            formControlName="preco"
            value="{{ item.selectedOptions.selected[0]?.value.preco }}"
          />
        </mat-form-field>
      </form>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <button mat-flat-button color="primary" (click)="adicionarItem()">
        Adicionar Item
      </button>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <button mat-flat-button color="primary" (click)="alterarItem()">
        Alterar Item
      </button>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <button mat-flat-button color="primary" (click)="removerItem()">
        Remover Item
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</div>
