<div class="container">

    <button mat-button click="transicaoTelas(1)">
        <mat-icon svgIcon="sales-point"></mat-icon>
    </button>
    <span></span>
    <button mat-button click="transicaoTelas(2)">
        <mat-icon svgIcon="customer"></mat-icon>
    </button>
    <span></span>
    <button mat-button click="transicaoTelas(3)">
        <mat-icon svgIcon="menu"></mat-icon>
    </button>
    <span></span>
    <button mat-button click="transicaoTelas(4)">
        <mat-icon svgIcon="business-chart"></mat-icon>
    </button>
    <span></span>
    <button mat-button click="transicaoTelas(5)">
        <mat-icon svgIcon="workers"></mat-icon>
    </button>
</div>