<div class="container">

    <button mat-button [routerLink]="['/menu/vendas']">
        <mat-icon svgIcon="sales-point"></mat-icon>Ponto de Venda
    </button>
    <span></span>
    <button mat-button [routerLink]="['/menu/clientes']">
        <mat-icon svgIcon="customer"></mat-icon>Clientes 
    </button>
    <span></span>
    <button mat-button [routerLink]="['/menu/cardapio']">
        <mat-icon svgIcon="menu"></mat-icon>Cardápio  
    </button>
    <span></span>
    <button mat-button [routerLink]="['/menu/contas']">
        <mat-icon svgIcon="business-chart"></mat-icon>Contas 
    </button>
    <span></span>
    <button mat-button [routerLink]="['/menu/funcionarios']">
        <mat-icon svgIcon="workers"></mat-icon>Funcionários
    </button>
</div>